<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- 1. Creates a joint between lidar and robot body [Source 14]-->

    <!-- 1A. The Camera itself-->
    <joint name="camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="camera_link"/>
        <origin xyz="0.305 0 0.08" rpy="0 0.18 0"/>
    </joint>

    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.01 .03 .03"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="0.305 0 0.08" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.3 0.3"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.01" y="0.3" z="0.3"/>
            <origin xyz="0.305 0 0.08" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <!-- 1B. The camera optics (an alias to process the different axis than of ROS2)-->
    <joint name="camera_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="camera_link_optical"> </link>

    <!-- 2. Gazebo reference for camera_link [Source 12]-->
    <gazebo reference="camera_link">
        <material>Gazebo/Red</material>

        <sensor name="camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>